<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScheduResultMapper">
	
	<select id="scheduResultList" resultType="pd" parameterType="pd">
		SELECT
			DISTINCT
			a.[xn],
			a.[xq_id],
			a.[KCID] courseCode,
			a.SKBJ,
			b.gh ,
			c.DM teachPlaceCode,
			a.stimezc,
			a.jcinfo,
			a.dsz,
			a.JCz
		FROM
			T_KB_AUTO_TABLE a
		INNER JOIN T_ZY_TeacherInfo b ON a.JS = b.DM
		INNER JOIN T_ZY_ClassroomInfo c ON c.dm = a.JSM
		INNER JOIN T_KB_Task d ON d.T_SKBJ = a.SKBJ and a.XN = d.xn AND a.XQ_ID = d.XQ_ID
		WHERE 1 =1 and 
			d.SkbjZCJC != '' and a.JCInfo!='Error' and a.stimezc!='' and a.stimezc!=',0' and a.xn=#{xn}
			ORDER BY a.xn desc 
	</select>
	<select id="o_scheduResult" resultType="pd">
		select * from cqwu_scheduResult where ROWNUM &gt;=1000
	</select>
	<select id="getMaxId" resultType="pd">
		select max(MAINID) as max_Id from cqwu_scheduResult
	</select>
	
	<select id="getMainId" resultType="pd" parameterType="pd">
		SELECT
			mainId
		FROM
			cqwu_scheduResult
		WHERE
			SCHOOLYEAR = #{xn,jdbcType=VARCHAR}
			and SEMESTER =#{semester,jdbcType=VARCHAR}
			and COURSECODE = trim(#{courseCode,jdbcType=VARCHAR})
			and CLASSCODE = #{classCode,jdbcType=VARCHAR}
			AND TEACHPLACECODE = #{teachPlaceCode,jdbcType=VARCHAR}
			and BEGINSECTION =#{BEGINSECTION,jdbcType=INTEGER}
			and ENDSECTION = #{ENDSECTION,jdbcType=INTEGER}
	</select>
	
	<insert id="scheduResult_insert" parameterType="pd">
		insert into cqwu_scheduResult(
			MAINID,
			ISVALID,
			ISDELETED,
			SCHOOLYEAR,
			SEMESTER,
			COURSECODE,
			teacherCode,
			CLASSCODE,
			className,
			TEACHPLACECODE,
			ENDSECTION,
			BEGINSECTION,
			STARTTIME,
			ENDTIME,
			WEEKORDER,
			DAYORDER,
			TEACHCLASSID
			
		) values (
			#{mainId,jdbcType=INTEGER},
			#{ISVALID},	
			#{ISDELETED},
			#{xn,jdbcType=VARCHAR},
			#{semester,jdbcType=VARCHAR},	
			trim(#{courseCode,jdbcType=VARCHAR}),
			#{gh,jdbcType=VARCHAR},	
			#{classCode,jdbcType=VARCHAR},
			#{className,jdbcType=VARCHAR},
			#{teachPlaceCode,jdbcType=VARCHAR},
			#{ENDSECTION},
			#{BEGINSECTION},
			#{STARTTIME},
			#{ENDTIME},
			#{WEEKORDER},
			#{DAYORDER},
			#{TEACHCLASSID,jdbcType=INTEGER}
		)
	</insert>
	
	<!-- 删除 -->
	<delete id="scheduResult_delete" parameterType="pd">
		delete  from  cqwu_scheduResult  where mainId = #{MAINID,jdbcType=INTEGER}
	</delete>
	
	
	<!-- 获取教师编号  -->
	<select id="getTeacherId" parameterType="pd" resultType="pd">
		SELECT
			TEACHERNO
		FROM
			CQWU_TEACHERINFO
		WHERE
			TEACHERCODE = #{gh,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取教学班id -->
	<select id="getTeachClassId" parameterType="pd" resultType="pd">
		select mainId from cqwu_teacherClass 
			where 1=1 
			and SCHOOLYEAR = #{xn,jdbcType=VARCHAR} 
			and SEMESTER = #{xq,jdbcType=VARCHAR}
			and	COURSECODE = #{kcid,jdbcType=VARCHAR}
			and	CLASSCODE = #{classCode,jdbcType=VARCHAR}
			and  rownum =1
	</select>
	
	<select id="findSchoolCalendar" resultType="pd">
		SELECT
			RTRIM(xn) xn,
			kxrq,
			fjrq,
			RTRIM(xq_id) xq_id
		FROM
			T_JH_SetXL
	</select>
	
</mapper>