<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeachPlaceMapper">
	
	<select id="teachPlaceList" resultType="pd">
		select * from T_ZY_ClassroomInfo
	</select>
	<select id="o_teachPlace" resultType="pd">
		select * from cqwu_teachPlace
	</select>
	<select id="getMaxId" resultType="pd">
		select max(MAINID) as max_Id from cqwu_teachPlace
	</select>
	<insert id="teachPlace_insert" parameterType="pd">
		insert into cqwu_teachPlace(
			MAINID,
			ISVALID,
			ISDELETED,
			teachPlaceName,
			teachPlaceCODE,
			teachPlaceTYPE,
			CAMPUSCODE,
			buildingCode,
			capacity,
			floor,
			houseNumber
			
		) values (
			#{mainId,jdbcType=INTEGER},
			#{ISVALID},	
			#{ISDELETED},
			#{MC,jdbcType=VARCHAR},
			#{DM,jdbcType=VARCHAR},	
			#{LX_ID,jdbcType=VARCHAR},	
			#{school_area},
			#{SZWZ,jdbcType=VARCHAR},
			#{RL,jdbcType=INTEGER},
			#{Layer,jdbcType=INTEGER},
			#{MPH,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 教室信息 -->
	<insert id="classroom_insert" parameterType="pd">
		insert into cqwu_classroom(
			MAINID,
			ISVALID,
			ISDELETED,
			classroomName,
			classroomCode,
			CAMPUSCODE,
			buildingCode,
			capacity,
			floor,
			houseNumber
			
		) values (
			#{mainId,jdbcType=INTEGER},
			#{ISVALID},	
			#{ISDELETED},
			#{MC,jdbcType=VARCHAR},
			#{DM,jdbcType=VARCHAR},	
			#{school_area},
			#{SZWZ,jdbcType=VARCHAR},
			#{RL,jdbcType=INTEGER},
			#{Layer,jdbcType=INTEGER},
			#{MPH,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 体育场地 -->
	<insert id="gymnasium_insert" parameterType="pd">
		insert into cqwu_gymnasium(
			MAINID,
			ISVALID,
			ISDELETED,
			GYMNASIUMCODE,
			CAMPUSCODE,
			buildingCode,
			capacity,
			usableArea,
			STATE_
			
		) values (
			#{mainId,jdbcType=INTEGER},
			#{ISVALID},	
			#{ISDELETED},
			#{DM,jdbcType=VARCHAR},	
			#{school_area},
			#{SZWZ,jdbcType=VARCHAR},
			#{RL,jdbcType=INTEGER},
			#{symj,jdbcType=FLOAT},
			1
		)
	</insert>
	
	<!-- 实验室 -->
	<insert id="labBranch_insert" parameterType="pd">
		insert into cqwu_labBranch(
			MAINID,
			ISVALID,
			ISDELETED,
			labsName,
			labsCode,
			CAMPUSCODE,
			buildingCode,
			capacity,
			houseNumber,
			usableArea,
			floor,
			STATE_
			
		) values (
			#{mainId,jdbcType=INTEGER},
			#{ISVALID},	
			#{ISDELETED},
			#{MC,jdbcType=VARCHAR},
			#{DM,jdbcType=VARCHAR},	
			#{school_area},
			#{SZWZ,jdbcType=VARCHAR},
			#{RL,jdbcType=INTEGER},
			#{MPH,jdbcType=VARCHAR},
			#{symj,jdbcType=FLOAT},
			#{Layer,jdbcType=INTEGER},
			1
		)
	</insert>
	
	<update id="updateSchedleMethod" parameterType="pd">
		UPDATE CQWU_SCHEDULEMETHOD ss
			SET SS.TEACHPLACETYPE = (
				SELECT
					T .TEACHPLACETYPE
				FROM
					(
						SELECT 
							A .TEACHPLACETYPE,
							b.TEACHCLASSID
						FROM
							CQWU_TEACHPLACE A
						INNER JOIN CQWU_SCHEDURESULT b ON A .TEACHPLACECODE = b.TEACHPLACECODE
					) T
				WHERE
					SS.TEACHERCLASSID = T.TEACHCLASSID and ROWNUM = 1
			)
			where ss.mainId >#{start} and ss.mainId&lt;=#{end}

	</update>
</mapper>